body{
    margin:0;
    background:#f4f1ec;
    font-family:Arial, Helvetica, sans-serif;
    color:#222;
}

.topbar{
    background:#111;
    color:white;
    padding:20px 50px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.menu-direita{
    display:flex;
    gap:40px;
    font-size:14px;
}

.menu-direita span{
    cursor:pointer;
}

.menu-direita span:hover{
    color:#d8a75f;
}

header{
    text-align:center;
    padding:40px 0;
}

header h1{
    font-size:64px;
    margin:0;
}

header p{
    color:#666;
}

input{
    width:450px;
    max-width:90%;
    padding:15px;
    border-radius:40px;
    border:1px solid #ddd;
}

.categorias{
    text-align:center;
    margin:30px 0;
}

.categorias button{
    background:white;
    border:none;
    padding:12px 18px;
    border-radius:20px;
    margin:5px;
    cursor:pointer;
}

.conteudo {
    display:grid;
    grid-template-columns:420px 1fr;
    gap:20px;

    width:95%;
    margin:30px auto;
}

#produtos{
    background:white;
    border-radius:20px;
    overflow:hidden;
}

.produto {

    padding:20px;

    border-bottom:1px solid #eee;

    cursor:pointer;

    transition:0.2s;
}

.produto:hover {

    background:#faf8f4;
}

.produto h2 {

    font-size:22px;

    margin-bottom:10px;
}

.produto p {

    font-size:15px;
}

#detalhes{
    background:white;
    border-radius:20px;
    padding:40px;
}

.badge{
    display:inline-block;

    border:1px solid #222;

    padding:6px 12px;

    border-radius:20px;

    font-size:12px;

    margin-bottom:20px;
}

#detalhes h1{
    font-size:56px;
    margin:0;
}

.subtitulo{
    font-size:28px;
    margin-top:10px;
    color:#444;
}

.acoes{
    display:flex;
    gap:15px;
    margin:30px 0;
}

.botao-preto{
    background:#111;
    color:white;
    padding:15px 25px;
    border-radius:10px;
    text-decoration:none;
    font-weight:bold;
}

.botao-borda{
    border:1px solid #d8a75f;
    color:#d8a75f;
    padding:15px 25px;
    border-radius:10px;
    text-decoration:none;
    font-weight:bold;
}

.tabs{
    display:flex;
    gap:40px;

    margin-top:40px;

    padding-bottom:15px;

    border-bottom:1px solid #ddd;
}

.tabs span{
    font-weight:bold;
}

.bloco-tecnico{
    background:#faf8f4;
    padding:20px;
    border-radius:12px;
    margin-top:20px;
}

.bloco-tecnico p{
    font-size:16px;
    margin:10px 0;
}
.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

.logos img {
    height: 60px;
    width: auto;
    max-width: 220px;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
}

header h1 {
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 5px;
}

header p {
    font-size: 14px;
    margin-bottom: 20px;
}
#detalhes {
    min-height: 700px;
}